* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: SharpGrotesk,Open Sans,sans-serif;
}

.clearfix::after, .partner {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.logo-Drop {
    max-width: 150px;
    max-height: 100px;
    margin: 14px 20px;
    padding: 20px 20px;
}

ul,
li,
.button {
    display: inline-block;
}

.barra-principale{
   margin: 0 20px;
}

.servizi-principali {
    margin: 35px 20px;
    text-decoration: none;
    text-align: center;
 
}

a {
    color: black;
    text-decoration: none;

}

.button {
    font-size: 15px;
    padding: 7px 20px;
    border: none;
    right: 400px;
    top: 30px;
    color: white;
    background-color: #0061ff;
}

.float-right {
    float: right;
    margin: 0 20px;
}

/* fine header */

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 65vh;
    position: relative;
    background-color: #b4d0e7;
    
}

.jumbotron-box {
    max-width: 1140px;
    margin: 0 auto;

}

.jumnbotron-Title {
    color: #000000;
    font-family: 'Antonio', sans-serif;;
    text-align: left;
    font-size: 65px;
    padding-top: 50px;
    
}

.jumbo-subtitle {
    width: 26%;
    margin-right: 360px;
    color: #000000;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;
}

.prova-gratuita {
    display: inline-block;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    color: white;
    background-color: #0061ff;
    margin-top: 30px;

}

.annulla-prova {
    margin-top: 20px;

}

.download {
    display: inline-block;
    font-size: 50px
}


.jumbotron-img {
    width: 890px;
    height: 500px;
    background-image: url(../img/img1.png);
    background-size: cover;
    position: absolute;
    top: 200px;
    right: 300px;
}

/* fine jumbotron */

/* inizio businness */

.business {
    width: 100%;
    height: 90vh;
    margin-top: 200px;
    position: relative;
    background-color: white;
    
}

.container {
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
}

/* .container2 {
    max-width: 1080px;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
} */



h2 {
    font-size: 50px;
    line-height: 0px;
    padding-bottom: 30px;
    text-align: center;
    font-family: SharpGroteskWide, Open Sans,sans-serif;
    font-weight: 500;
}

.false-chek {
    float: left;
    margin-top: 37px;
    margin-left: 56px;

}


.false-dx-chek {
    margin-left: 43px;
    margin-top: 38px;
    display: inline-block;


}


.row {
    max-width: 870px;
    text-align: center;
    margin: auto;
}


.col {
    height: 1000px;
    width: calc((100% / 3) - 20px );
    float: left;
    position: relative;
    padding-right: 20px;
    margin: 0 10px;
    padding: 10px 0;
    text-align: center;
    border: solid 1px lightgray;

}

.name-sx, .name-centr, .name-dx {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: solid 1px lightgray;
}

h3 {
    text-align: left;
    margin: 30px 30px;
    font-size: 30px;
}

p {
    text-align: left;
    margin: 30px 30px;
    color: grey;

}

.utenze {

    padding-left: 0;
    text-align: left;
    position: relative;
}

.utente-list {
    margin: 3px;
    display: inline-block;
    margin-left: 30px;
}


.img-cartella {
    display: block;
    text-align: left;
    margin-left: 1px;
}

.trenta-giorni {
    position: absolute;
    top: 170px;
    left: 80px;
    padding: 15px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #0061ff;
    padding-left: 42px;
    padding-right: 42px;
    text-align: auto;
    margin-left: -47px;

}

.bordo {
    color: black;
    border-bottom: 1px solid grey;
    padding-bottom: 30px
    
    

}

.acquista {
    margin-top: 150px;
}

.ora {
    color: blue;
    text-decoration: underline;
}

.punti-piano {
    padding-top: 30px;
    color: black;
    font-size: 20px;
}

.liste-promo {
    list-style-type: \2713;
}

.promo {
    margin: 8px 20px;
    text-decoration: none;
    text-align: left;
}

/* fine tre colonne */

/* inizio enterprise */

.enterpirse {
    height: 50px;
    width: 1180px;
    float: left;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 10px 10px;
    border: solid 1px lightgray;
    text-align: center;
}


.prezzo-vedite {
    height: 200px;
    width: 1180px;
    float: left;
    border: solid 1px lightgray;
    text-align: left;
    margin-right: 0px;
    margin-left: 10px;
}

strong {
    color: black;
}

.contatta-ufficio {
    position: absolute;
    top: 1500px;
    left: 1200px;
    padding: 15px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #0061ff;
}

                    
.descrizione-price {
    font-size: 13px;
    color: black;
}

/* partner */



.img2 {
    margin-left: 10px;
    margin-top: 119px;
}

.partner-dropbox {
    margin-top: -447px;
    margin-left: 679px;

}

.Trova {
    display: inline-block;
    margin-left: 47px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid grey;

}

/* operazioni */


.operazioni{
    margin-top: 179px;
    padding-bottom: 75px;
}

.img-operazioni {
    background-image: url(../img/img3.png);
    height: 250px;
    filter: alpha(opacity=60);
    border-radius: 15px;


/* debug */
/* /* header .container {
    width: 100%;
    height: 70px; 
} */



